@{
    ViewBag.Title = "About";
}
<h2><u>About</u></h2>
<hr/>
<h3>Ron Student Tracker Application for Educational Institutions</h3>

<p>This application is a comphensive package for teachers, students and alike for all the accounting for scholar activities</p>
