@{
    ViewBag.Title = "Home";
}
<br />
<div class="jumbotron">
    <h1>Students and YOU</h1>
    <p><b>STUDENTS</b>: This is the place where it all happens, study and fun!</p>
    <p><b>TEACHERS</b>: This is the place future of pupils is made!</p>
    <p><a class="btn btn-primary btn-group-sm" href="/Home/About">Learn more</a></p>
</div>
    <form class="form-inline">
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input kl_virtual_keyboard_secure_input="on" class="form-control" id="inputEmail" placeholder="Email" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input kl_virtual_keyboard_secure_input="on" class="form-control" id="inputPassword" placeholder="Password" type="password">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Checkbox
                        </label>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default">Clear</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </fieldset>
    </form>
<blockquote class="pull-right">
    <p>This is best place to be connected to my school</p>
    <small>Lorem Ipsum</small>
</blockquote>
<br />
<br />